body {
  background-color: #23272A;
  color: #bdbdbd;
}

.jumbotron.text-center {
  background-color: #2C2F33;
}

.nav-link.active {
  background-color: #5d5d5d !important;
  border-color: #5d5d5d !important;
  color: #cecece !important;
}

.nav-tabs {
    border-bottom: 1px solid #5d5d5d;
}

a {
  color: #0a6dd6
}

.card-link:hover{
  color: #FFFF;
}

.card-header {
  background-color: #7289DA;
  color: #FFFF;
}

.card-header.collapsed {
  background-color: #2C2F33;
  color: #FFFF;
}

.card-body, .list-group-item {
  color: #FFFFFF;
  background-color: #404040;
}