<!DOCTYPE html>
<html>
  <% var subtitle = "Home" %>
  <% include ../parts/head %>
  <!-- Start content -->
  
  <%
    var guild = client.guilds.get(id);
    var isQueue = true
  %>
  
  <% 
    var fetched = client.audio.active.get(id);
    if (!fetched) isQueue = false;
    let queue;
    if (isQueue) {
      queue = fetched.queue;
      if (queue.length < 1) isQueue = false;
    }
  %>
  <% if (!isQueue) { %>
    <div>
      Yeah, there's no music playing, you should know
    </div>
  <% } else { %>
    <div class="grid-member-container">
      <% let i = 0 %>
      <% for (const song of queue) { %>
        <% console.log(song) %>
        <table class="table table-bordered table-striped" style="margin: auto; padding: 20px;">
          <tr><th><%= song.songTitle %></th></tr>
          <tr><td><span class="font-weight-light">(<%= song.length %>) – by <%= song.author %></span></td></tr>
        </table>
        <% i++ %>
      <% } %>
    </div>
  <% } %>

  <!-- End content -->
  <% include ../parts/footer %>
</html>